name: CI

on:
- push
- pull_request

jobs:
  host:
    name: ${{ matrix.os }} ${{ matrix.ruby }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-18.04
          - macos-11.0
          - macos-10.15
          - windows-latest
        ruby:
          - '2.4'
          - '2.5'
          - '2.6'
          - '2.7'
          - '3.0'
          - '3.1'
          - debug
          - jruby-head
          - truffleruby
          - truffleruby-head
        include:
          - { os: windows-latest , ruby: mingw }
          - { os: windows-latest , ruby: mswin }
        exclude:
          - { os: windows-latest , ruby: debug }
          - { os: windows-latest , ruby: truffleruby }
          - { os: windows-latest , ruby: truffleruby-head }

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - run: bundle exec rake compile

      # If strscan in Ruby's master has the same version of this strscan,
      # "gem install pkg/*.gem" fails.
      - run: bundle exec rake version:bump
        if: >-
          matrix.ruby == 'debug' ||
          matrix.ruby == 'mingw' ||
          matrix.ruby == 'mswin'

      - run: bundle exec rake build

      - uses: actions/upload-artifact@v3
        if: >-
          matrix.os == 'ubuntu-20.04' &&
            (matrix.ruby == '3.1' || matrix.ruby == 'jruby-head')
        with:
          name: gem-${{ matrix.os }}-${{ matrix.ruby }}
          path: pkg/

      - uses: softprops/action-gh-release@v1
        if: >-
          startsWith(github.ref, 'refs/tags/') &&
            matrix.os == 'ubuntu-20.04' &&
            (matrix.ruby == '3.1' || matrix.ruby == 'jruby-head')
        with:
          files: |
            pkg/*.gem

      - run: bundle exec rake test

      - run: gem install --verbose --backtrace pkg/*.gem
